body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
    color: #333;
}

header {
    background-color: #5CDB95;
    color: #fff;
    padding: 10px 0;
    text-align: center;
}

nav {
    background-color: #333;
    color: white;
    padding: 15px;
    text-align: center;
}

nav a {
    color: white;
    margin: 0 15px;
    text-decoration: none;
    font-weight: bold;
}

.container {
    width: 80%;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}

h2 {
    color: #5CDB95;
}

ul {
    list-style-type: square;
    padding-left: 20px;
}

footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px 0;
    position: fixed;
    bottom: 0;
    width: 100%;
}

a {
    color: #1e90ff;
}

a:hover {
    text-decoration: underline;
}
.bottom-right-arrow {
    position: absolute;
    bottom: 10px; /* Adjust the value as needed */
    right: 10px; /* Adjust the value as needed */
    width: 50px; /* Adjust the size as needed */
    height: auto;
    cursor: pointer;
}
body {
    position: relative;
    min-height: 100vh;
    margin: 0;
    padding: 0;
}

.bottom-left-arrow, .bottom-right-arrow {
    width: 50px; /* Adjust the size as needed */
    height: auto;
    cursor: pointer;
}
